**/*.terraform*/*
**/*.tfstate
**/*.tfstate.*
**/*secrets.*
**/.terraform.lock.hcl
password.txt
*.key
*venv
parameters/secrets_encrypted_decrypted.txt
salt.bin
parameters/src/secrets_encrypted_decrypted.txt
ec2/key/transcription_key.pem
rds/nohup.out
ec2/task-definition.json
**/nohup.out
**/*.zip